/*
   Common SCSS Start
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: arial;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

.box-title {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}

/*
   Common SCSS End
*/
/*
   header style code Start
*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ddd;
}

.header__logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.header__menu {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.header__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.header__menu-item {
  margin-left: 20px;
}

.header__menu-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
}

.header__menu-link:hover {
  color: teal;
}

.banner {
  margin-bottom: 30px;
}

.banner__img {
  border: 3px solid teal;
  padding: 3px;
}

/*
   header style code End
*/
/*
   Service Section Start
*/
.service__title {
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.service__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__single {
  background-color: teal;
  padding: 20px;
  color: #fff;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.service__heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 20px;
}

.service__desc {
  line-height: 22px;
  margin: 10px 0;
}

.service__link {
  display: inline-block;
  background-color: aqua;
  padding: 10px 25px;
  text-transform: capitalize;
  color: black;
  font-size: 19px;
  margin-top: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.service__link:hover {
  border-radius: 100px;
}

/*
   Service Section End
*/
.about {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.about__content .box-title {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}

.about__menu {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.about__menu-box {
  list-style: none;
}

.about__menu-item {
  background-image: url(../../img/arrow.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-top: 3px;
  margin-bottom: 7px;
  border-bottom: 1px dashed #ddd;
  background-position: 0 -3;
}

.about__menu-item:last-child {
  border-bottom: 0;
}

.about__menu-link {
  -webkit-transition: .3s;
  transition: .3s;
}

.about__menu-link:hover {
  color: teal;
}

.about__desc {
  line-height: 20px;
  margin-bottom: 20px;
}

/*
   Contact Style Start
*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__form {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.contact__address {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.contact__address-box {
  list-style: none;
}

.contact__address-box-list {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

.contact__input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 20px;
}

.contact__message {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px solid #ddd;
}

.contact__submit {
  background-color: aqua;
  width: 100%;
  border: 0;
  padding: 10px;
  margin-top: 25px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.map {
  margin: 30px 0;
}

.map__iframe {
  border: 1px solid #ddd;
  padding: 3px;
  width: 100%;
  height: 300px;
}

.footer {
  background-color: aqua;
  padding: 20px;
}

.footer__text {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

/*
   Contact Style End
*/
/*# sourceMappingURL=style.css.map */